*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./img/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.container {
  padding: 20px;

  width: 400px;
  margin: 10% auto 0 auto;
}

.form {
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(221, 220, 220);
  margin-bottom: 6px;
}

input::placeholder,
input {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 2px solid rgb(2, 2, 104);
}

.form input[type="submit"] {
  margin-top: 20px;
  background: rgb(2, 2, 104);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.form input[type="submit"]:hover {
  background: rgb(3, 3, 71);
  transition: all 0.5s ease-in;
  transform: scale(0.99);
}
.copyright {
  margin-top: 10px;
  text-align: center;
}

.form p {
  text-align: center;
  padding: 0;
  margin: 0;
}

p a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(2, 2, 104);
}

hr {
  margin: 30px 0;
  border: 1px solid rgb(238, 236, 236);
}

.error {
  text-align: center;
  border: 2px solid red;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  background: rgb(224, 155, 155);
  border-radius: 5px;
}

/* List page*/
.nav {
  padding: 20px;
  background: whitesmoke;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;

  padding: 5px 0;
}
.padlock {
  font-size: 25px;
  border: 1px solid rgb(212, 210, 210);
  background: rgb(233, 231, 231);
  border-radius: 5px;
  padding: 5px 0;
}

/* List.php Table styles*/
.table-container {
  width: 80%;
  margin: 50px auto 0 auto;
  padding: 20px 20px 50px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: whitesmoke;
  border-radius: 5px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 18px;
  margin: 0.5em 0 0.75em;
  font-weight: bold;
  padding: 20px 0;
  border-left: 5px solid black;
  background: rgb(221, 220, 220);
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  /* Styles for extra small devices go here */
  .container {
    width: 100%;
  }

  /* responsive table */
  .table-container {
    width: 95%;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices go here (Landscape)*/
  .container {
    width: 80%;
    margin: 3% auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices go here (Tablets) */
  .container {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices go here */
}

@media (min-width: 1200px) {
  /* Styles for extra large devices go here */
}
